<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227014811374-l0aadhqvsuuitln98nk9cod8jl71hspf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227014811374-l0aadhqvsuuitln98nk9cod8jl71hspf</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-5aYu3dMvgSxbHDjZABFrFwmswig9M8</string>
	<key>GCM_SENDER_ID</key>
	<string>227014811374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ititraining20232</string>
	<key>STORAGE_BUCKET</key>
	<string>ititraining20232.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227014811374:ios:1296b9ed47fdc52a0cddff</string>
</dict>
</plist>